/*Caroussel*/
.caroussel{
    display: flex;
    max-width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    body { margin: 0;
     } 

    div#slider { overflow: hidden;
    }

    div#slider figure img { width: 20%;
                            float: left;
                            object-fit: cover; 
                        }
    div#slider figure { 
      position: relative;
      width: 200%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 30s slidy infinite; 
    }
    
    .placeholders{
        background-color: blueviolet;
        width: 400px;
        height: 400px;
    }