
body{
	width: 100%;
	margin: 0;
}

 /*Banner*/
	.col{
		display: flex;
		justify-content: center;
		margin-top: 66px;
		
	}
		.colonne1 {
			object-fit: cover;
			object-position: -20% 0;
			width:100%;
		}

		.colonne2{
			object-fit: cover;
			object-position: -20% 0;
			width: 100%;
		}

		.colonne3{
			object-fit: cover;
			object-position: -20% 0;
			width: 100%;
		}

	section img{
		max-width: 100%;
	}

 /*Banner*/
	nav{
		position: fixed;
		top: 5Opx;
		left: 0px;
		padding-left: 16px;
		display: inline-grid;
		background-color:#0000007a;
		z-index: 1;
	}

	nav a{
		font-family:'Roboto';
		font-size: 17px;
		font-weight: bold;

		margin-top: 10px;
		text-decoration: none;
		color: white;
	}

	h1{
		text-align: center;
		font-size: 22px;
		font-weight: bold;
	}

	h2{
		text-align: center;
		font-size: 20px;
	}

	h3{
		text-indent: 15px;
	}

	h4{
		text-indent: 30px;
	}


/*Main*/

main{
	width:60%;
	margin: 0 auto;
	background-color: #e3e3e370;
}

p{
	font-family: 'Roboto';
}

.date{
font-size: x-small;
color: #737373;
}

ul li{
	font-family: "Roboto";
}

/*Main*/

/* SideBar*/

button a{
		color: white;
		text-decoration: none;
}

#job{
	position: fixed;
	top: 23px;
	right: -8px;
	background-color:
	#3535d5de;
	color:
	white;
	width: 170px;
	height: 60px;
	border-radius: 15px;
	font-size: 13px; 
	}

#job:hover{
	background-color:#2d2db4de ;
	border: 2px;
	font-size: 14px;
	font-weight: bold;
}

#biche{
	position: absolute;
	display: flex;
	width: 20%;
	max-width: 272px;
	top: 723px;
	right: 0;

}

#samo{
	position: absolute;
	display: flex;
	width: 20%;
	max-width: 272px;
	top: 723px;
	left: 0px;
}

#pinoc{
	position: absolute;
    max-width: 231px;
    top: 67px;
    left: 42%;
}



/*Contact*/

#name{
	margin-left: 103px;
}
#email{
	margin-left: 105px;
}
#message{
	margin-left: 23px;
	height: 100px;
}

/*Contact*/