body{
    margin : 0;
}
    h1{
        text-align: center;
    }
    
    #recherche{
        margin: 0 auto;
    }
    #affichage{
        width:calc(100%/3);
        margin: 0 auto;
    }
        h2{
            text-align: center;
            font-size:large;
        }

        img{
            width: 500px ;
            margin: 0 auto;
        }